#backend
PORT=4000

# mp
TEST_MP_PUBLIC_KEY=
TEST_MP_ACCESS_TOKEN= 

# mongodb
MONGO_URI=mongodb://mongo:27017

# google
GOOGLE_CLIENT_ID=

# Minio
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
S3_INTERNAL_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://127.0.0.1:9000

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d